// @import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$primary-light: #ffffff;
$primary-dark: #013a63;
$decor-color: #f46036;
$simple-black: #000000;

$heading-font: Arial, Helvetica, sans-serif;
$paragraph-font: Arial, Helvetica, sans-serif;